* {
    background-color: black;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.name {
    font-style: italic;
    font-size: 40px;
    width: 100%;
    padding: 30px;
    color: white;
}

.baby {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    padding: 0px 30px;
}

.layout {
    display: flex;
    justify-content: center;
}

.layout2 {
    display: flex;
}

.first {
    color: white;
    font-size: 25px;
    padding: 42px;
    text-align: center;
    width: 100%;
}

.second {
    color: white; 
    font-size: 40px;
    padding: 0px 0px 0px 22px;
    text-align: left;
    width: 47%;
}

.third {
    color: white;
    padding: 380px 22px 0px 0px;
    width: 50%;
    font-size: 40px;
    text-align: right;
}


.fourth {
    color: white;
    padding: 0px 0px 0px 62px;
    font-size: 69px;
    text-align: left;
    width: 48%;
    left: 0px;
}

@media screen and (max-width: 1440px) {

    .name {
        font-size: 73px;
    }

    .first {
        font-size: 50px;
    }

    .second, .third {
        font-size: 60px;
        width: 47%;
    }
}

@media screen and (max-width: 980px) {
    .name {
        font-size: 50px;
    }

    .first {
        font-size: 32.5px;
        color: white;
    }

    .second, .third {
        font-size: 45px;
        padding: 0px;
    }

    .second {
        width: 47%;
    }

    .third {
        padding: 320px 0px 0px 0px;
    }
}