* {
    background-color: black;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.name {
    font-style: italic;
    font-size: 40px;
    width: 100%;
    padding: 30px;
    color: white;
}

.baby {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    padding: 0px 30px;
}

.testing {
    display: flex;
    justify-content: center;
}

.first {
    color: white;
    font-size: 28px;
    padding: 42px;
    text-align: center;
    width: 100%;
}

.second {
    color: white;
    display: flex;
    justify-content: center;
    font-size: 40px;
    padding: 0px 0px 0px 22px;
    text-align: left;
}


.third {
    color: white;
    width: 50%;
    display: flex;
    justify-content: center;
    font-size: 40px;
    text-align: left;
    padding: 52px 0px 0px 42px;

}

.layout {
    padding: 0px 0px 42px 0px;
}

.fourth {
    color: white;
    display: flex;
    justify-content: center;
    padding:42px 0px 0px 22px;
    font-size: 40px;
    text-align: left;
    width: 100%;
}

.cat {
    width: 450px;
    height: 450px;
}

.edits{
    display: flex;
}

.laaamb {
    width: 200px;
}

.lambq {
    padding: 0px 810px 0px 0px;
}

@media screen and (max-width: 480px) {

  .name {
    color: red;
    font-size: 20px;
    padding: 8px;
  }

  .lambq {
    padding: 0px 70px 0px 0px;
  }

  .laaamb {
    width: 90px
  }

  .baby {
    width: 100%;
    padding: 0px 10px;
  }

  .first {
       font-size: 14px;
       font-style: oblique;
       padding: 13px;
  }

  .layout {
    padding: 0px;
  }

  .second {
       padding: 0px 10px 10px 10px;
       font-size: 17px                                              
   }

  .space {
       padding: 0px 0px 0px 10px;
  }

  .cat {
       width: 210px;
       height: 210px;
  }

  .third {
       padding: 0px 10px 0px 10px;
       font-size: 16px;
  }

  .fourth {
       padding: 12px 9px 0px 10px;
       font-size: 17px;
 }
}
