* {
    background-color: black;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.name {
    font-style: italic;
    font-size: 40px;
    width: 100%;
    padding: 30px;
    color: white;
}

.baby {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    padding: 0px 30px;
}

.first {
    color: white;
    font-size: 25px;
    padding: 42px;
    text-align: center;
    width: 100%;
    font-family: "Times New Roman", Times, serif;
}

.second {
    color: white; 
    font-size: 40px;
    padding: 0px 0px 0px 42px;
    text-align: left;
    width: 45%;
    right: 40px;
}

.third {
    color: white;
    padding: 42px 42px 0px 0px;
    width: 50%;
    font-size: 40px;
    text-align: right;
    position: absolute;
    right: 0px;
}

@media screen and (max-width: 980px) {
    .first {
        font-size: 10px;
    }
}